.copy-card{
  background-color: rgb(242, 242, 242);
  margin-bottom: 20px;
 line-height: 23px;
 margin-top: 15px;
 padding: 20px;
  span{
    font-size: 18px;
    font-weight: 500;
  }
mat-icon{
  color: #fc0d0d;
  position: relative;
  top: 7px;
  padding: 5px;
}
}
